page-autenticar {
    .marginTop{
        margin-top: 80px;
    }

    .logo {
        margin: auto;
        background: url('../../assets/imgs/diarista.png') repeat transparent;
        background-size: 100%;
        width: 150px;
        height: 212px;
        //width: 96px;
        //height: 134px;
    }
}
